*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  border-radius: 5px;
}

.App{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: mediumaquamarine;
}

.container{
  align-items: center;
  margin: 20px auto;
  background-color: midnightblue;
  width: 80%;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid{
    display: grid;
    background-color: maroon;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 10px;
}

@media only screen and (max-width: 720px){
  body{
    background-color: salmon;
  }

  .flex{
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .grid{
    background-color: black;
    grid-template-columns: 1fr;
  }
}