.App{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: mediumaquamarine;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.icon{
  background-color: chocolate;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
