@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html {
    box-sizing: border-box;
  }

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Rubik',sans-serif;
    font-size: 18px;
}

button{
    box-sizing: inherit;
    padding: 15px 20px;
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #cfcfcf;
    transition: 0.2s ease-in;
    background-color: hsl(231, 69%, 60%);
}

button:hover{
    box-sizing: inherit;
    outline: 1px solid hsl(231, 69%, 60%);
    background-color: white;
    color: hsl(231, 69%, 60%);
}

footer{
    background-color: hsl(229, 31%, 21%);
    width: 100%;
    display: flex;
    justify-content: center;
}

footer > div{
    background-color: lightcoral;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1,
h2{
    font-weight: 500;
    color: hsl(229, 31%, 21%);
    margin: 20px 0px;
}

p{
    font-weight: 400;
    color: hsl(229, 8%, 60%);
    margin: 20px 0px;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.flex{
    display: flex;
}

.row{
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.column{
    flex-direction: column;
    justify-content: center;
}

.center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
}

header > img{
    width: 55%;
    margin-left: 10px;
}

ul{
    list-style: none;
}

li{
    color: hsl(229, 31%, 21%);
}

 nav > ul{
    width: 40%;;
} 

li > button{
    background-color: hsl(0, 94%, 66%);
}

li > button:hover{
    color: hsl(0, 94%, 66%);
    outline: 1px solid hsl(0, 94%, 66%);
}

li:hover{
    color: hsl(0, 94%, 66%);
    cursor: pointer;
}

.hidden{
    display: none;
}

.block{
    display: flex;
}

#left{
    width: 50%;
}

#right{
    width: 10%;
}

#list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-1::after{
    content: '';
    position: absolute;
    width: 30em;
    height: 20em;
    background-color: hsl(231, 69%, 60%);
    right: 0;
    bottom: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
}

.section-8{
    background-color: hsl(231, 69%, 60%);
    width: 100%;
    padding: 30px;
    color: white;
}

.section-8 > * {
    margin: 20px;
    color: white;
}

.section-8  p{
    letter-spacing: 0.2em;
    font-size: 15px;
    text-transform: uppercase;
}

.section-8 button{
    background-color: hsl(0, 94%, 66%);
}

.section-8 button:hover{
    background-color: white;
    color: hsl(0, 94%, 66%);
    outline: 1px solid hsl(0, 94%, 66%);
    box-shadow: none;
}

.section-8 input{
    height: 50px;
    font-size: 14px;
}

.selection{
    justify-content: center;
}

.selection > div {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid hsl(0, 0%, 83%);
    height: 100%;
}

.yol{
    position: relative;
    padding-bottom: 50px;
    
} 

.section-3::after {
    content: '';
    position: absolute;
    width: 30em;
    height: 20em;
    background-color: hsl(231, 69%, 60%);
    left: 0;
    bottom: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
}

.section-3 > div > div {
    width: 40%;
}

#red-border{
    border-bottom: 5px solid hsl(0, 94%, 66%);
    margin-bottom: -4px;
}

.faq{
    margin: 0 auto;
    width: 55%;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #e2e2e2;
    border-top: 2px solid #e2e2e2; */
}

.faq:hover{
    color: hsl(0, 94%, 66%);
    fill:hsl(0, 94%, 66%);
}

.splitter{
    border: 1px solid #cecece;
    width: 60%;
    content: '';
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.faq h4{
    font-weight: 400;
    font-size: 1em;
}

.info{
    margin: 0 auto;
    width: 30%;
    align-items: center;
    justify-content: center;
}