*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.flex{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.row{
    justify-content: space-between;
    align-items: center;
}

.center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}