@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

:root{   
--DarkBlue: hsl(233, 26%, 24%);
--LimeGreen: hsl(136, 65%, 51%);
--BrightCyan: hsl(192, 70%, 51%);
--GrayishBlue: hsl(233, 8%, 62%);
--LightGrayishBlue: hsl(220, 16%, 96%);
--VeryLightGray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans',sans-serif;
    font-size: 16px;
    z-index: 100;
    position: relative;
}

nav{
    z-index: 400;
    margin: 0 auto;
    max-width: 100%;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    height: 4em;
    z-index: 100;
    position: relative;
}

.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
}

.nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
}

.nav-link a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--GrayishBlue);
    position: relative;
}

.nav-link a:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right,var(--LimeGreen),var(--BrightCyan));
}

button{
    font-family: 'Public Sans',sans-serif;
    background-image: linear-gradient(to right,var(--LimeGreen),var(--BrightCyan));
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

main{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 4;
    background-image: linear-gradient(to bottom,var(--LightGrayishBlue),var(--White));
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    position: relative;
}

main h1{
    font-weight: 400;
    font-size: 4em;
    margin-bottom: 40px;
}

main p{
    margin-bottom: 40px;
}

.image-container{
}

main img{
    width: 100%;
    z-index: -1;
    margin-bottom: -100px;
    margin-top: -100px;
    margin-right: -100px;
    overflow: hidden;
}

#main-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#background{
    position: absolute;
    width: 100%;
    height: 160%;
    top: 0;
    right: 0;
    margin-right: -600px;
    margin-top: -210px;
    overflow: hidden;
    z-index: -20;
}

.sec-1{
    background-color: var(--VeryLightGray);
}

.sec-1 h2,h3{
    color: var(--DarkBlue);
}

.sec-1 p{
    color: var(--GrayishBlue);
}

.sec-1 h2{
    font-weight: 300;
    font-size: 2em;
}

.sec-1 h3{
    font-weight: 300;
    font-size: 1.25em;
}

.sec-1>div{
    width: 85%;
    margin: 100px auto;
}

.sec-1>div div{
    margin-bottom: 25px;
}

#section-header h2,p{
    margin-bottom: 25px;
}

.sec-1 img{
    margin-bottom: 25px;
}

.sec-1 .row div{
    margin-right: 40px;
}

.sec-1 .row div >*{
    margin-bottom: 30px;
}

.sec-2 {
    max-width: 100%;
    background-color: white;
}

.sec-2 img{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sec-2>div{
    width: 85%;
    margin: 50px auto;
}

.sec-2>div>div{
    margin-top: 50px;
}

.sec-2 h2{
    font-size: 2.5em;
    font-weight: 400;

    color: var(--DarkBlue);
}

.sec-2 h5{
    font-size: 0.7em;
    color: var(--DarkBlue);
    font-weight: 300;
    margin-bottom: 10px;
    opacity: 0.7;
}

.sec-2 .cards{
    display: flex;
    justify-content: space-between;
}

.sec-2 .cards>div{
    width: 20%;
}

.sec-2 .cards>div>div{
    margin:20px 20px;
}

.sec-2 .cards h3{
    font-size: 0.95em;
    color: var(--DarkBlue);
    opacity: 0.8;
    font-weight: 300;
    margin-bottom: 10px;
}

.sec-2 .cards p{
    font-size: 0.85em;
    font-weight: 300;
    opacity: 0.7;
    color: var(--DarkBlue);

}

footer{
    background-color: var(--DarkBlue);
    justify-content: space-evenly;
    min-width: 100%;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    opacity: 0.8;
}

footer .col{
    display: flex;
    justify-content: space-around;
    height: 150px;
}

footer .social{
    display: flex;
    justify-content: space-around;
}

footer .last{
    align-items: center;
}

footer .last p{
    color: white;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 920px) { 
    body{
        background-color: skyblue;
        align-items: center;
        text-align: center;
    }


    .row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .col{
        align-items: center;
    }

    main img{
        max-width: 0;
        max-height: 0;
        margin-top: 0;
        display: block;
    }

    main>div>div{
        display: block;
    }

    .cards{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sec-2 .cards>div{
        width: 80%;
        margin: 0 auto;
    }

    .sec-2 .cards img{
        height: auto;
    }

    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 100px;
    }

    #main-content{
        align-items: center;
    }

    .show{
        display: none;
        flex-direction: row;
    }

    .show-button{
        display: none;
    }

    .hamburger{
        display: inline-block;
    }
}
