

.card-2{
    width: 100%;
    background-color: orange;
    display: grid;
    justify-self: start;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.right{
    justify-self: end;
}

h4{
    margin: 10px 0px;
}
